/Adobe Photoshop 2022 v23.0.2.101 (x64) Multilingual
/Adobe Photoshop 2022.lnk
/AgenciaDeViajes.dia
/AgenciaDeViajes.dia~
/BD
/bootstrap-5.0.2-dist
/Cisco Packet Tracer 6.2 Español
/Cisco Packet Tracer Instructor.lnk
/desktop.ini
/EXAMEN ENTORNOS DE DESARROLLO 3ª EVALUACIÓN 2022-23.odt
/Hoteles_Kevin.dia
/JuegoCompleto
/KEBIGO
/KEBIGOJAVAPROJECT
/KevinAriketak
/LMARK
/PokeMMO.lnk
/Principal.java
/Snake
/Tetris
/Viajes_Kevin.dia
/Visual Studio Code.lnk
/VisualStudioTutoBen
/Wallpaper Engine.url
/~$AMEN ENTORNOS DE DESARROLLO 3ª EVALUACIÓN 2022-23.odt
/~WRL3270.tmp